@layout("layouts/app");

  {{--  @each(movie in movies)
    <img src="{{ movie.thumbnail }}" alt="{{movie.title}}" />
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.description }}</p>
  @endeach    --}}
