<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <h1>Hello World!</h1>
  @each(movie in movies)
    <img src="{{ movie.thumbnail }}" alt="{{movie.title}}" />
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.description }}</p>
  @endeach  
</body>
</html>
