<header class="header">
    <a href="/" class="header__logo">Cinema</a>
    <div class="header__menu">
        <a href="/register" class="header__link header__link--bold">register</a>
        /
        <a href="/login" class="header__link header__link">login</a>
    </div>
</header>