@keyframes fade-in {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes toast {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }
}
