@import "normalize";
@import "utils";
@import "animations";
@import "base";
@import "layout/layout-dir";
@import "sections/sections-dir";
@import "blocks/blocks-dir";

#App {
  margin: 0 2rem;
  @media screen and (min-width: 968px) {
    margin: 0;
  }
  animation: fade-in 0.75s forwards cubic-bezier(0.65, 0, 0.32, 1.55);
}
.mobile {
  @media screen and (min-width: 968px) {
    display: none;
  }
}
.hide {
  display: none;
}

.danger {
  transition: border-color 0.2s ease-in-out;
  border-color: rgb(241, 80, 80);
}

.flash {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  margin-left: auto;
  font-weight: bold;
  font-size: 0.7rem;
  color: rgb(241, 80, 80);
}

.loader {
  display: none;
  position: absolute;
  // display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
}
