.card {
  width: 100%;
  height: 100%;
  // opacity: 0;

  // animation: fade-in 1s 1s forwards;
  &__title {
    transition: all 0.2s ease;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
  }

  &__image {
    transition: all 0.2s ease;
    width: 100%;
    height: 300px;
    object-fit: cover;
    @media screen and (min-width: 968px) {
      height: 300px;
    }

    &:hover {
      opacity: 0.8;
      transform: scale(1.1, 1.1);
    }
  }

  // &:nth-child(1) {
  //   animation: fade-in 0.25s 0.5s forwards;
  // }
  // &:nth-child(2) {
  //   animation: fade-in 0.25s 0.75s forwards;
  // }
  // &:nth-child(3) {
  //   animation: fade-in 0.25s 1s forwards;
  // }
  // &:nth-child(4) {
  //   animation: fade-in 0.25s 1.25s forwards;
  // }
  // &:nth-child(5) {
  //   animation: fade-in 0.25s 1.5s forwards;
  // }
  // &:nth-child(6) {
  //   animation: fade-in 0.25s 1.75s forwards;
  // }
  // &:nth-child(7) {
  //   animation: fade-in 0.25s 2s forwards;
  // }
  // &:nth-child(8) {
  //   animation: fade-in 0.25s 2.25s forwards;
  // }
  // &:nth-child(9) {
  //   animation: fade-in 0.25s 2.5s forwards;
  // }
}
