<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    @section("title")

    @endsection
  </title>
  {{ style('app')}}
</head>

<body>
  <div id="App">
    @include('partials/header')
    @section("content")

    @endsection
  </div>
  {{ script('main') }}
</body>

</html>