<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    @section("title")

    @endsection
  </title>
  {{ style('app')}}
</head>

<body>
  @if(flashMessage('loggedIn'))
  <div class="toast toast--success">
    {{ flashMessage("loggedIn") }}
  </div>
  @endif

  @if(flashMessage('loggedOut'))
  <div class="toast toast--info">
    {{ flashMessage("loggedOut") }}
  </div>
  @endif
  <div id="App">
    @include('partials/header')
    @section("content")

    @endsection
  </div>

  @section("scripts")

  @endsection
  {{ script('main') }}
</body>

</html>