<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('app')}}
   {{ script('main') }}
</head>
<body>
    <div id="App">
      @section("content")

      @endsection
    </div>

</body>
</html>
